<launch>

    <arg name="world_file_name"    default="simple_obstacle" />
    <arg name="world_path" default="$(find local_planner)/../sim/worlds/$(arg world_file_name).world" />
    <arg name="pointcloud_topics" default="[/camera/depth/points]"/>
    <arg name="fs_config_mavros_yaml" default="$(find local_planner)/resource/px4_config.yaml"/>
    <arg name="gazebo_gui" default="false"/>

    <arg name="start_x" default="0" />
    <arg name="start_y" default="0"/>
    <arg name="start_z" default="0" />
    <arg name="start_Y" default="0" />

    <arg name="goal_x" default="0" />
    <arg name="goal_y" default="0"/>
    <arg name="goal_z" default="3" />

    <!-- Define a static transform from a camera internal frame to the fcu for every camera used -->
    <node pkg="tf" type="static_transform_publisher" name="tf_depth_camera"
          args="0 0 0 -1.57 0 -1.57 fcu camera_link 10"/>

    <!-- Launch PX4 and mavros -->
    <include file="$(find local_planner)/launch/local_planner_sitl_mavros.launch" >
        <arg name="model" value="iris_depth_camera" />
        <arg name="world_path" value="$(arg world_path)" />
        <arg name="gui" value="$(arg gazebo_gui)"/>
        <arg name="fs_config_mavros_yaml" value="$(arg fs_config_mavros_yaml)" />

        <arg name="x" value="$(arg start_x)"/>
        <arg name="y" value="$(arg start_y)"/>
        <arg name="z" value="$(arg start_z)"/>
        <arg name="Y" value="$(arg start_Y)"/>
    </include>

    <!-- Load custom console configuration -->
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find local_planner)/resource/custom_rosconsole.conf"/>

    <!-- Launch local planner -->
    <node name="local_planner_node" pkg="local_planner" type="local_planner_node" output="screen" >
        <param name="goal_x_param" value="$(arg goal_x)" />
        <param name="goal_y_param" value="$(arg goal_y)"/>
        <param name="goal_z_param" value="$(arg goal_z)" />
        <param name="world_name" value="$(find local_planner)/../sim/worlds/$(arg world_file_name).yaml" />
        <rosparam param="pointcloud_topics" subst_value="True">$(arg pointcloud_topics)</rosparam>
    </node>

<!--     <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find local_planner)/resource/local_planner.rviz" /> -->

</launch>
